body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.actual{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

    &__info{
        width: 70%;
        position: relative;
        border: 1px solid black;
        background-color: rgb(159, 189, 243);
        display: flex;
        flex-direction: column;   
        align-items: center; 
    }

    &__delete{
        position: absolute;
        right: 20px;
        top: 20px;
    }

    &__score{
        padding: 4px 16px ;
        border:  1px solid black;
    }
}
